# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
/_build
/bin/*.dll
/bin/*.exe
/bin/*.ini
/bin/i18n/*.cmd
/bin/style/style.unused.css
/etc
/nsis/*.psd
/nsis/*.exe
*.user
/build-zodiac_bundle-Desktop_Qt_5_2_1_MinGW_32bit-Release/*.Release
/build-zodiac_bundle-Desktop_Qt_5_2_1_MinGW_32bit-Release/*.Debug
/bin/style/planets.png
